body {
    background-color: #343a40;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

table, th, td {
    border: 1px solid whitesmoke;
    border-collapse: collapse;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
