body {
    background-color: #343a40;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

#mango {
    max-width: 50px !important;
    position: absolute !important;
    top:0 !important;
    right:0 !important;
}
