#mango {
    text-align: center;
    position: absolute;
    /* position: relative; */
    /* position: static; */
    /* position: fixed; */
    /* position: sticky; */
    bottom: 3%;
    left: 0;
    right: 0;
}