body {
    font-family: 'Press Start 2P';
    background: url(https://misfitkarma.com/image/142968-full_overwatch-minimalist-wallpaper-album-on-imgur.jpg);
    background-size: cover;
    color: #00ff00;
}

/* div {
    background: black;
    border: 1px solid white;
} */

h1 {
    text-align:center;
    -webkit-user-select: none;
}

li {
    margin-left: 200px;
    line-height: 2;
}

a {
    color: #00ff00;
    text-decoration: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

a:visited {
    color: #00ff00;
}

a:hover {
    color: #ff0000;
}

#mango {
    text-align: center;
}
