body {
    font-size: 1.4rem;
    font-family: 'Press Start 2P', serif;
    background-color: #222222;
    color: #F0F2F6;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

h1 {
    text-align:center;
}

ol {
    margin-left: 3rem;
}

li {
    font-size: 1rem;
    line-height: 2;
}

a {
    color: #F0F2F6;
}

a:visited {
    color: #F0F2F6;
}

a:hover {
    color: #57DFC7;
    text-decoration: none;
}
